// prevent adjustment of font size after orientation changes in IE on iOS
html {
  -webkit-text-size-adjust: 100%;
}

//Applies a natural box layout model to all elements
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  margin: .5rem 2% .5rem 4%;
  column-gap: 1%;
  row-gap: .5%;
  grid-template-areas:
  "nav"
  "main"
  "main"
  "main"
  "footer"
}
.proTeams{
  display: grid;
  grid-area: "main";
  margin-left: $gutter*2;
  column-gap: 1%;
  row-gap: .5rem;
  margin-bottom: 2.75rem;
}
nav{
  grid-area: nav;
  // display: flex;
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100vw;
  ul{
    flex-basis: 20%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  ul li {
    display: block;
    width: auto;
  }

}
.news{
  margin-bottom: 1.75rem;
  grid-area: main;
}
.blog{
  margin-bottom: 1.75rem;
  grid-area: main;
}
  ///clearfix anywhere needed

  .clearfix:after {
    content: "";
    display: table;
  clear: both;
}
div.footer{
  display: grid;
  background-color: blue;
  grid-area: "footer";
  position: relative;
}


