// prevent adjustment of font size after orientation changes in IE on iOS
html {
  -webkit-text-size-adjust: 100%;
}

//Applies a natural box layout model to all elements
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background-color: $terinaryColor  ;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  margin: 0.5rem 2% 0.5rem 4%;
  column-gap: 1%;
  row-gap: 1%;
  grid-template-areas:
    "nav"
    "content"
    "content"
    "content"
    "footer";
}
.proTeams {
  display: grid;
  grid-area: content;
  margin-left: $gutter * 2;
  column-gap: 1%;
  row-gap: 0.5rem;
  margin-top: 2rem;
}
.proPlayers {
  display: grid;
  grid-area: content;
  margin-left: $gutter * 2;
  column-gap: 1%;
  row-gap: 0.5rem;
  margin-top: 2rem;
}
.news {
  display: grid;
  margin-top: 2%;
  grid-area: content;
}
.teams {
  margin-top: 2%;
  display: grid;
  grid-area: content;
}
.blog {
  display: grid;
  margin-top: 2rem;
  grid-area: content;
}
///clearfix anywhere needed

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
div.footer {
  display: grid;
  background-color: $terinaryColor;
  grid-area: footer;
  position: relative;
}

.hamburger {
  display: block;
  width: 7rem;
  height: 2.75rem;
  background-repeat: no-repeat;
  background-position: 2vw center;
}
a.hamburgerOpen {
  @extend .hamburger;
  background-image: url(../../assets/images/menuOpenWhite.png);
}
a.hamburgerClose {
  @extend .hamburger;
  background-image: url(../../assets/images/menuCloseWhite.png);
}
nav.notSmall{
  display: none;
}
