$primaryColor: rgb(39, 14, 229);
$secondaryColor: rgba(153, 204, 255);
$terinaryColor: rgb(242, 242, 242);
$fontColor:black;
$gutter: 6%;
$dblegutter:(2*$gutter);
$boldWeight: 700;
$normalWeight: 400;
$defaultFont: arial;
$menuColor: $primaryColor;
